<div class="lead card">
  <div class="media">
    <img class="d-flex mr-3" src="<%= @question.gravatar %>" alt="User's gravatar">
    <div class="media-body">
      <h5 class="mt-0"><%= @question.email%> asked:</h5>
      <%= @question.body%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
    </div>

    <%= render 'home/new_answer_form' %>

    <% @answers.each do |answer| %>
    <div class="media">
      <img class="d-flex mr-3" src="<%= answer.gravatar %>" alt="User Gravatar">
      <div class="media-body">
        <h5 class="mt-0"><%= answer.email %> answered:</h5>
        <small>Answered <%= time_ago_in_words answer.created_at%> ago</small><br/>
        <%=answer.body %>
      </div>
    </div>
    <% end %>

  </div>
</div>